*.iml
.gradle
/local.properties
/.ideass/caches
/.ideass/libraries
/.ideass/modules.xml
/.ideass/workspace.xml
/.ideass/navEditor.xml
/.ideass/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
